@page
@model ResolutionsPsych.Pages.Staff.ViewStaffModel
@{
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">



<form method="post">
    <input type="text" id="SelectedUsername" asp-for="SelectedUsername" name="Username"/>
    <input type="hidden" id="UpdatePassword"  asp-for="NewPassword" name="Password"/>
    <input type="submit" id="btnUpdate" asp-page-handler="Update" value="Update Staff" />
</form>

<table id="table_id" class="display">
    <thead>
        <tr>

            <th>Username</th>
            <th>Password</th>
            <th>StaffType</th>
            <th>Modify</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.StaffList)
        {

            <tr>


                <td>@Html.Raw(i.Username)</td>
                <td>@Html.Raw(i.Password)</td>
                <td>@Html.Raw(i.StaffType)</td>
            
                <td>
                    <form method="post">
                        <input value="@Html.Raw(i.Username)" asp-for="@Model.StaffToModify" type="hidden" name="Username" />
                        <button asp-page-handler="Delete" class="btn btn-danger"> Delete </button>

                    </form>

                    <!--
                        <form method="post">
                        <input value="@Html.Raw(i.Username)" asp-for="@Model.StaffToModify" type="hidden" name="Username" />
                        <button asp-page-handler="Update" class="btn btn-secondary"> Update </button>

                        </form>
                    -->

                    <input type="button"  value = "Update" onClick="updateStaff('@Html.Raw(i.Username)')" />
                
                </td>

            </tr>

        }


    </tbody>
</table>

@section Scripts {

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });

        function updateStaff(username) {
            console.log("Clicked username: " + username);
            $("#SelectedUsername").val(username);

            //reveal hidden password field and button
            $("#UpdatePassword").attr("type", "password");
            $("#btnUpdate").attr("type", "submit");
        }
    </script>
}
